a{
	text-decoration: none;
}
body{
	background-image: url("../img/0.jpg");
}
ul{
	list-style-type:none;
}
h1{
	font-size: 50px;
	text-align:center;
}
dir{
	padding-left: 0px;
}

.todolist{
	list-style-type:none;
	font-size: 30px;
}

#context{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
	text-align : center;
	padding-left : 0px;

}

#menu2{
	border: 2px solid black;
	border-radius:10px;
	width: 500px;
	
	text-align:center;
}

#input-content{
	height : 50px;
	font-size : 30px;
	background-color: transparent;
	border:none;
	border-bottom: 2px solid black;
}
#input-content-submit{
	height : 50px;
	font-size : 20px;
	background-color: transparent;	
	border:2px solid black;
	border-radius: 10px;
}

#todomenu{
	display:flex;
	justify-content:space-around;
	height : 1080px;
	margin:0 auto;	
}
